page-home {
	#topButtons {
		vertical-align: middle;
		display: flex;

		//changed from row to column 18.10.2017
		flex-direction: column;
	}
	#topButtons button {
		flex: 1;
	}
}

// This file is part of the JustDoIT Application developed by Sampsa Kares, Petteri Vaskin, Mikael Haapa-aho, Juuso Heinonen, and Asko Mikkola.